<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D' Albas</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="../../library/node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../../library/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../../static/image/mision.jpg">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>

    <!-- header section starts  -->
    <header class="header">
        <img src="../../static/image/pexels.jpg" alt="" style="width: 7%; border-radius: 50%;">
        <a href="../../index.html" class="logo">D' Albas </a>

        <nav class="navbar" id="menu">
            <a href="../../index.html">Inicio</a>
            <a href="../../templates/nosotros.html">Nosotros</a>
            <a href="../../templates/productos.html">Productos</a>
        </nav>

        <!-- iconos -->

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="login-btn"></div>
            <div class="fas fa-user" id="cart-btn"><a href="../templates/usuario/login.html"> Mi cuenta</a></div>

        <!-- El formulario de busqueda -->

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="buscar aquí...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <form action="" class="login-form">
            <h3>TU CARRITO DE COMPRAS</h3>
            <hr>
            <p>No hay productos en el carrito.</p>
        </form>
    </header>


    <!--Aquí inicia el section de inicio de sesión-->

    <section class="vh-100">
        <div class="containerLogin">
            <div class="login row">
                <div class="col-lg-10 col-xl-11 mx-auto" >
                    <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                        <div class=" card-img-left d-none d-md-flex">
                            <img src="../../static/image/inicio.jpg" class="img-thumbnail" alt="...">
                        </div>
                        <div class="card-body p-4 p-sm-5">
                            <h1 class="card-title text-center mb-5 fw-light">Iniciar sesión</h1>
                            <form>
                
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="myusername" required autofocus>
                                <label  for="usuario">Nombre Usuario</label>
                            </div>
                    
                            <hr>
                    
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="contraseña" name="contraseña" placeholder="Password">
                                <label for="contraseña">Contraseña</label>
                            </div>
                            
                            <hr>

                            <div class="d-grid mb-2">
                                <button id="boton" class="registrar btnL btn-lg
                                 btn-primary btn-login fw-bold text-uppercase" 
                                 type="submit" onclick="login()">Iniciar sesión
                                </button>
                            </div>
                    
                            <a class="mensaje d-block text-center mt-2 small" style="font-size: 1.2rem;" href="#">¿No tienes una cuenta? <br> Inicia sesión con las siguientes funciones:</a>
                    
                            <hr class="my-4">
                    
                            <div class="d-grid mb-2">
                                <button class="btnL btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                                <i  class="fab fa-google me-2"><a href="https://accounts.google.com/v3/signin/identifier?dsh=S-502910035%3A1685069321884795&authuser=0&continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fclient%3Dopera-gx%26q%3Dinicio%2Bde%2Bgmail%26sourceid%3Dopera%26ie%3DUTF-8%26oe%3DUTF-8&ec=GAlAAQ&hl=es&flowName=GlifWebSignIn&flowEntry=AddSession"> 
                                    Sign up with Google</a></i>
                                </button>
                            </div>
                    
                            <div class="d-grid mb-2">
                                <button class="btnL btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                                    <i class="fab fa-facebook-f me-2"><a href="https://www.facebook.com"> 
                                        Sign up with Facebook<a/></i>
                                </button>
                            </div>
                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--aquí finaliza el section inicio de sesión-->


    <br><br>
    <!-- Aquí inicia el footer -->
    <section class="footer">

        <div class="box-container">

            <div class="box" id="footer">
                <h3>Contactos</h3>
                <a href="#" class="links"> 3185504427 <i class="fas fa-phone"></i></a>
                <a href="#" class="links">3178860724 <i class="fas fa-phone"></i></a>
                <a href="https://www.google.com/maps/place/Neiva,+Huila/@2.938648,-75.3003693,13z/data=!4m6!3m5!1s0x8e3b747c5a6b4009:0x69acf162bb25539a!8m2!3d2.9344837!4d-75.2809001!16zL20vMDNsejI5" class="links">Neiva - Huila <i class="fas fa-map-marker-alt"></i></a>
                <a href="https://www.facebook.com/dalbaspasteleria" class="links">Facebook <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                  </svg></a>
            </div>

            <div class="creditos">Todos los derechos reservados<span> Wolsoft</span> | SENA </div>

    </section>

    <!-- aquí finzaliza el footer-->

    <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->
    <script src="../../library/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="../../static/js/script.js"></script>
    <script src="../../static/js/login.js"></script>
    {% comment %} <script> window.location.href='inicioUsuario.html';</script> {% endcomment %}
    <script src="../../library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>