<section class="footer">
    <div class="box-container">
      <div class="box" id="footer">
        <h3>Contactos</h3>
        <a href="#" class="links"> 3185504427 <i class="fas fa-phone"></i></a>
        <a href="#" class="links">3178860724 <i class="fas fa-phone"></i></a>
        <a href="https://www.google.com/maps/place/Neiva,+Huila/@2.938648,-75.3003693,13z/data=!4m6!3m5!1s0x8e3b747c5a6b4009:0x69acf162bb25539a!8m2!3d2.9344837!4d-75.2809001!16zL20vMDNsejI5"
          class="links">Neiva - Huila <i class="fas fa-map-marker-alt"></i></a>
        <a href="https://www.facebook.com/dalbaspasteleria" class="links">Facebook <svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook"
            viewBox="0 0 16 16">
            <path
              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
          </svg></a>
      </div>
    <div class="creditos">Todos los derechos reservados<span> Wolsoft</span> | SENA </div>
</section>