<header class="header">
    <img src="static/image/pexels.jpg" alt="" style="width: 7%; border-radius: 50%;">
    <a href="/inicio/" class="logo">D' Albas </a>

    <nav class="navbar" id="menu">
      <a href="/inicio/">Inicio</a>
      <a href="/nosotros/">Nosotros</a>
      <a href="/productos/">Productos</a>
    </nav>

    <!-- iconos -->

    <div class="icons">
      <div class="fas fa-bars" id="menu-btn"></div>
      <div class="fas fa-search" id="search-btn"></div>
      <div class="fas fa-shopping-cart" id="login-btn"></div>
      <div class="fas fa-user" id="cart-btn"><a href="/inicioSesion/"> Mi cuenta</a></div>
    </div>

    <!-- El formulario de busqueda -->

    <form action="" class="search-form">
      <input type="search" id="search-box" placeholder="buscar aquí...">
      <label for="search-box" class="fas fa-search"></label>
    </form>

    <!-- formulario de no iniciar sesión -->
    <form action="" class="login-form active">
      <h3>TU CARRITO DE COMPRAS</h3>
      <hr>
      <p>No hay productos en el carrito</p>
    </form>

    <!-- Aquí finaliza el formulario se iniciar sesión -->
</header>