 <!--Productos de pastillaje-->
 <section class="products" id="products" href="/productos/">
    <h1 class="heading">Tortas en<span>pastillaje</span></h1>
    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta1.jpg" alt="">
                <h3>Torta homero</h3>
                <div class="price">Torta de 1/2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta2.jpg" alt="">
                <h3>Torta Blanca baby</h3>
                <div class="price">Torta de 1/4 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta9.jpg" alt="">
                <h3>Torta dinosaurios</h3>
                <div class="price">Torta de libra y 1/2</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta4.jpg" alt="">
                <h3>Torta Sonic</h3>
                <div class="price">Torta de 2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta10.jpg" alt="">
                <h3>Torta tiras</h3>
                <div class="price">Torta de 2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

        </div>

    </div>

    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta5.jpg" alt="">
                <h3>Torta clash royal</h3>
                <div class="price">Torta de 1/2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta6.jpg" alt="">
                <h3>Torta Mario bross</h3>
                <div class="price">Torta de libra y 1/2</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta17.jpg" alt="">
                <h3>torta playera</h3>
                <div class="price">Torta de libra y 1/2</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta7.jpg" alt="">
                <h3>Torta Rugrats</h3>
                <div class="price">Torta de 1/2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaP/torta19.jpg" alt="">
                <h3>Torta Contador</h3>
                <div class="price">Torta de 2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>
        </div>
    </div>
</section>
<!--Finalización productos en pastillaje-->

<!--Productos en crema-->
<section class="products" id="products" href="/productos/">
    <h1 class="heading">Tortas en<span>crema</span></h1>
    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta3.jpg" alt="">
                <h3>Torta dibujo</h3>
                <div class="price">Torta de 1 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta8.jpg" alt="">
                <h3>Torta mariposas</h3>
                <div class="price">Torta de 1/2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta12.jpg" alt="">
                <h3>Torta bautizo</h3>
                <div class="price">Torta de 1 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta13.jpg" alt="">
                <h3>Torta unicornioc</h3>
                <div class="price">Torta de 1 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta14.jpg" alt="">
                <h3>Torta rugrats</h3>
                <div class="price">Torta de 1/2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

        </div>

    </div>

    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta11.jpg" alt="">
                <h3>Torta mariposa</h3>
                <div class="price">Torta de 1 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta16.jpg" alt="">
                <h3>Torta Minecraft</h3>
                <div class="price">Torta de 1/2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta15.jpg" alt="">
                <h3>Torta Mariposa</h3>
                <div class="price">Torta de 1/2 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta18.jpg" alt="">
                <h3>Torta Oso</h3>
                <div class="price">Torta de 1/4 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/tortaC/torta20.jpg" alt="">
                <h3>Torta Harry Potter</h3>
                <div class="price">Torta de 1 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>
        </div>
    </div>
</section>
<!--Finalización productos en crema-->

<!--Productos de cupcakes-->
<section class="products" id="products" href="/productos/">
    <h1 class="heading"><span>Cupcake</span></h1>
    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup1.jpg" alt="" style="width: 100%;">
                <h3>Cupcakes Grado</h3>
                <div class="price">Empaque de 6uni.</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup2.jpg" alt="" style="width: 100%;">
                <h3>Cupcakes Venon</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup3.jpg" alt="" style="width: 100%;">
                <h3>Cupcake Naruto</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup4.jpg" alt="" style="width: 100%;">
                <h3>Cupcake Mexicanos</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup5.jpg" alt="" style="width: 100%;">
                <h3>Cupcake Unicornios</h3>
                <div class="price">Empaque de 6 unid.</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

        </div>

    </div>

    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup6.jpg" alt="" style="width: 100%;">
                <h3>Cupcakes Sirena</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup7.jpg" alt="" style="width: 100%;">
                <h3>Cupcake Princesas</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup8.jpg" alt="" style="width: 100%;">
                <h3>Cupcake Atrapasueños</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup9.jpg" alt="" style="width: 100%;">
                <h3>Cupcakes Mujer Maravilla</h3>
                <div class="price">Torta de 1/4 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/cupcake/cup10.jpg" alt="" style="width: 100%;">
                <h3>Cupcake Cumpleaños</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>
        </div>
    </div>
</section>
<!--Finalización productos cupcakes-->

<!--Productos de galletas-->
<section class="products" id="products" href="/productos/">
    <h1 class="heading"><span>Galletas</span></h1>
    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga1.jpg" alt="" style="width: 100%;">
                <h3>Granja de zenon</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga2.jpg" alt="" style="width: 100%;">
                <h3>Barbie</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga3.jpg" alt="" style="width: 100%;">
                <h3>Animales de la selva</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga4.jpg" alt="" style="width: 100%;">
                <h3>Día del abuelo</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga5.jpg" alt="" style="width: 100%;">
                <h3>Tiktok</h3>
                <div class="price">Al por mayor.</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">Agregar al carro</a>
            </div>

        </div>

    </div>

    <div class="swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga6.jpg" alt="" style="width: 100%;">
                <h3>Día del médico</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga7.jpg" alt="" style="width: 100%;">
                <h3>Animales de granja</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga8.jpg" alt="" style="width: 100%;">
                <h3>Spider-man</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga9.jpg" alt="" style="width: 100%;">
                <h3>Aviones</h3>
                <div class="price">Torta de 1/4 Lb</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>

            <div class="swiper-slide box">
                <img src="../static/image/galletas/ga10.jpg" alt="" style="width: 100%;">
                <h3>Mikie mouse</h3>
                <div class="price">Al por mayor</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/login/" class="btn">agregar al carro</a>
            </div>
        </div>
    </div>
</section>
<!--Finalización productos galletas-->