<header class="header">
    <img src="../../static/image/pexels.jpg" alt="" style="width: 7%; border-radius: 50%;">
    <a href="#" class="logo">D' Albas </a>

    <nav class="navbar" id="menu">
        <a href="#" class="nav-link">Inicio</a>
        <hr>
        <a href="admin.html" style="color: #d651c4;">Mi Cuenta</a>
        <hr>
        <a href="../../templates/admin/adminIndex.html">Galeria</a>
        <hr>
    </nav>

    <!-- iconos -->

    <div class="icons">
        <!-- <div class="fas fa-bars" id="menu-btn"></div> -->
        <div class="fas fa-search" id="search-btn"></div>
    </div>

    <!-- El formulario de busqueda -->
    <form action="" class="search-form">
        <input type="search" id="search-box" placeholder="buscar aquí...">
        <label for="search-box" class="fas fa-search"></label>
    </form>
</header>