<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/library/node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/library/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="/static/image/mision.jpg">
    <title>Mi Cuenta | D'Albas</title>
</head>

<body id="body">
    <!-- header section starts  -->
    <header class="header">
        <img src="/static/image/pexels.jpg" alt="" style="width: 7%; border-radius: 50%;">
        <a href="#" class="logo">D' Albas </a>

        <nav class="navbar" id="menu">
            <a href="#" class="nav-link">Inicio</a>
            <hr>
            <a href="#inicio" style="color: #d651c4;">Mi Cuenta</a>
            <hr>
            <a href="templates/nosotros.html">Categorias</a>
            <hr>
        </nav>

    </header>

    <br>

    <div class="row" id="row">
        <div class="text-center">
            <h1 class="heading">Usuario<span>Administrador</span></h1><br>
        </div>

        <div class="col-0 col-mt-0 col-md-6">
            <div>
                <div class="row" class="container" style="margin: 20px 20px;">
                    <div class="container mt-1, cardUser">
                        <div class="col-md-9 d-flex align-items-center" style="margin: 20px 20px;">
                            <img alt='' src='https://cdn-icons-png.flaticon.com/512/456/456212.png' srcset=''
                                class='fotoooo' height='140' width='140' loading='lazy' decoding='async'
                                style="background-color: aliceblue;" />
                        </div>
                        <div class="col-md-6 m-5" style="font-size: 15px; left: 20px !important;">
                            <h3>User:</h3>
                            <p>NameAdmin</p>
                            <h3>Email:</h3><a href="#"
                                style="text-decoration: none; cursor: text;">correoADMIN@gmail.com</a>
                            <br>
                            <br>
                            <div>
                                <h3>
                                    <a class="link-glow nav-link" href="#">Cerrar Sesion</a>
                                </h3>
                            </div>
                            <br>
                            <br>
                            <div>
                                <h3>
                                    <a class="link-glow nav-link" href="#">Agregar Productos</a>
                                </h3>
                            </div>
                            <br>
                            <br>
                            <div>
                                <h3>
                                    <a class="link-glow nav-link" href="#">Cambio de Estado de los Pedidos</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <br><br><br><br><br><br>
    <br><br><br><br><br><br>

    <!-- Aquí inicia el footer -->
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3 class="text-center">contactos</h3>
                <div class="d-flex justify-content-center">
                    <a href="#" class="links"> <i class="fas fa-phone"></i>+3127768216 </a>
                    <a href="#" class="links"> <i class="fas fa-phone"></i>+3178892763 </a>
                    <a href="#" class="links"> <i class="fas fa-envelope"></i>dalbaspasteleria@gmail.com </a>
                    <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i>Neiva - Huila </a>
                </div>
            </div>

            <div class="creditos">Todos los derechos reservados <span>Wolsoft</span> | SENA </div>
        </div>
    </section>

    <!-- aquí finzaliza el footer-->


    <script src="/library/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>