<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D' Albas</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="../library/node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../library/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/image/mision.jpg">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <!-- header section starts  -->

    <header class="header">
        <img src="../static/image/pexels.jpg" alt="" style="width: 7%; border-radius: 50%;">
        <a href="../index.html" class="logo">D' Albas </a>

        <nav class="navbar" id="menu">
            <a href="../index.html">Inicio</a>
            <a href="../templates/nosotros.html">Nosotros</a>
            <a href="../templates/productos.html">Productos</a>
        </nav>

        <!-- iconos -->

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="login-btn"></div>
            <div class="fas fa-user" id="cart-btn"><a href="../templates/usuario/login.html"> Mi cuenta</a></div>
        </div>

        <!-- El formulario de busqueda -->

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="buscar aquí...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <!-- Aquí finaliza el formulario se iniciar sesión -->
        <form action="" class="login-form">
            <h3>TU CARRITO DE COMPRAS</h3>
            <hr>
            <p>No hay productos en el carrito.</p>
        </form>
    </header>

    <!-- Aquí inicia la sesión de información -->
    <section class="nosotros" id="nosotros">
        <h1 class="heading"> ¿Qué es <span>D' Albas</span>? </h1>

        <div class="box-container">

            <div class="box">
                <img src="../static/image/mision.jpg" style="border-radius: 20%;">
                <h3>Misión</h3>
                <p>Llenar de felicidad cada fecha importante de nuestros clientes</p>
            </div>

            <div class="box">
                <img src="../static/image/mision.jpg" style="border-radius: 20%;">
                <h3>Visión</h3>
                <p>crecer profesionalmente a tal punto de tener varios puntos ubicados en el país</p>
            </div>

            <div class="box">
                <img src="../static/image/mision.jpg" alt="" style="border-radius: 20%;">
                <h3>Nosotros</h3>
                <p>Iniciamos en el 2014 con la idea de
                    hacer tortas para las reuniones familiares, así
                    poco a poco crecimos haciendo no solo horneando para nosotros,
                    tambien para amigos y conocidos</p>
            </div>
        </div>
    </section>
    <!-- Aquí finaliza la sesión de información -->

    <!-- Apartir de aquí inicia la sesión de información de empleados -->
    <section class="nosotros" id="nosotros">
        <h1 class="heading">Nuestros<span>empleados</span></h1>

        <div class="box-container">
            <div class="box">
                <div class="imagen col-md-4 rounded mx-auto d-block">
                    <img class="grande" src="../static/image/dueña.jpeg" alt="">
                </div>
                    <h3>Alba Denis Morea</h3>
                <p>Soy una mujer que le gusta hacer feliz a las personas.
                     Mi especialidad es preparar y hornear productos.</p>
                <p class="card-text"><small class="text-body-secondary">Propietaria.</small></p>
            </div>

            <div class="box">
                <div class="imagen col-md-4 rounded mx-auto d-block">
                    <img class="grande" src="../static/image/empleado.jpg" alt="">
                </div>
                    <h3>Ximena Rodriguez Morea</h3>
                <p>Soy una persona muy creativa.
                     Mi especilidad es el diseño de nuestros pedidos.</p>
                <p class="card-text"><small class="text-body-secondary">Diseñadora.</small></p>
            </div>

        </div>
    </section>
    
    <!-- Aquí finaliza la sesión de información -->

    <!-- Apartir de aquí inicio la sesión de calificación-->
    <section class="nosotros" id="nosotros">
        <h1 class="heading"><span>Calificación</span></h1>
        <div class="contenedores">
            <div class="cards card mb-3 mx-3" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="card-body">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h5 class="card-title">"Super deliciosas y Hermosos diseños personalizados👍🏻👍🏻👍🏻."</h5>
                        <p class="card-text">-Morea Yesenia</p>
                        <p class="card-text"><small class="text-body-secondary">Pasteles caseros·Pasteles personalizados·Cupcakes deliciosos.</small></p>
                    </div>
                </div>
            </div>
            <div class="cards card mb-3 mx-3" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="card-body">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h5 class="card-title">"Muy profesionales y ricos sus productos."</h5>
                        <p class="card-text">-Maria Eugenia Piedrahita Grisales</p>
                        <p class="card-text"><small class="text-body-secondary">Excelente selección·Personal expertos.</small></p>
                    </div>
                </div>
            </div>
            <div class="cards card mb-3 mx-3" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="card-body">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h5 class="card-title">"Deli y la decoración muy bien hecha, súper recomendados."</h5>
                        <p class="card-text">-Ana María Alvira Martínez</p>
                        <p class="card-text"><small class="text-body-secondary">Excelente selección·Personal expertos.</small></p>
                    </div>
                </div>
            </div>
            <div class="cards card mb-3 mx-3" style="max-width: 450px;">
                <div class="row g-0">
                    <div class="card-body">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h5 class="card-title">"Creatividad y puntualidad, recomendados."</h5>
                        <p class="card-text">-Patricia Castro</p>
                        <p class="card-text"><small class="text-body-secondary">Pasteles personalizados.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Aquí finaliza la sesión de calificación-->

    <!-- Aquí inicia el footer -->
    <section class="footer">

        <div class="box-container">

            <div class="box" id="footer">
                <h3>Contactos</h3>
                <a href="#" class="links"> 3185504427 <i class="fas fa-phone"></i></a>
                <a href="#" class="links">3178860724 <i class="fas fa-phone"></i></a>
                <a href="https://www.google.com/maps/place/Neiva,+Huila/@2.938648,-75.3003693,13z/data=!4m6!3m5!1s0x8e3b747c5a6b4009:0x69acf162bb25539a!8m2!3d2.9344837!4d-75.2809001!16zL20vMDNsejI5" class="links">Neiva - Huila <i class="fas fa-map-marker-alt"></i></a>
                <a href="https://www.facebook.com/dalbaspasteleria" class="links">Facebook <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                  </svg></a>
            </div>

            <div class="creditos">Todos los derechos reservados<span> Wolsoft</span> | SENA </div>

    </section>

    <!-- aquí finzaliza el footer-->





    <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->
    <script src="../library/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>