<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D' Albas</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
    <link rel="stylesheet" href="../library/node_modules/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../library/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/image/mision.jpg">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>

    <!-- header section starts  -->

    <header class="header">
        <img src="../static/image/pexels.jpg" alt="" style="width: 7%; border-radius: 50%;">
        <a href="../index.html" class="logo">D' Albas </a>

        <nav class="navbar" id="menu">
            <a href="../index.html">Inicio</a>
            <a href="../templates/nosotros.html">Nosotros</a>
            <a href="../templates/productos.html">Productos</a>
        </nav>

        <!-- iconos -->

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="login-btn"></div>
            <div class="fas fa-user" id="cart-btn"><a href="../templates/usuario/login.html"> Mi cuenta</a></div>
        </div>

        <!-- El formulario de busqueda -->

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="buscar aquí...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

    <!-- Aquí finaliza el formulario se iniciar sesión -->
        <form action="" class="login-form">
            <h3>TU CARRITO DE COMPRAS</h3>
            <hr>
            <p>No hay productos en el carrito.</p>
        </form>
    </header>

<!-- Apartir de aquí inicia la sesión de productos -->

    <!--Productos de pastillaje-->
    <section class="products" id="products">
        <h1 class="heading">Tortas en<span>pastillaje</span></h1>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta1.jpg" alt="">
                    <h3>Torta homero</h3>
                    <div class="price">Torta de 1/2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta2.jpg" alt="">
                    <h3>Torta Blanca baby</h3>
                    <div class="price">Torta de 1/4 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta9.jpg" alt="">
                    <h3>Torta dinosaurios</h3>
                    <div class="price">Torta de libra y 1/2</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta4.jpg" alt="">
                    <h3>Torta Sonic</h3>
                    <div class="price">Torta de 2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta10.jpg" alt="">
                    <h3>Torta tiras</h3>
                    <div class="price">Torta de 2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

            </div>

        </div>

        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta5.jpg" alt="">
                    <h3>Torta clash royal</h3>
                    <div class="price">Torta de 1/2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta6.jpg" alt="">
                    <h3>Torta Mario bross</h3>
                    <div class="price">Torta de libra y 1/2</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta17.jpg" alt="">
                    <h3>torta playera</h3>
                    <div class="price">Torta de libra y 1/2</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta7.jpg" alt="">
                    <h3>Torta Rugrats</h3>
                    <div class="price">Torta de 1/2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaP/torta19.jpg" alt="">
                    <h3>Torta Contador</h3>
                    <div class="price">Torta de 2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>
            </div>
        </div>
    </section>
    <!--Finalización productos en pastillaje-->

    <!--Productos en crema-->
    <section class="products" id="products">
        <h1 class="heading">Tortas en<span>crema</span></h1>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta3.jpg" alt="">
                    <h3>Torta dibujo</h3>
                    <div class="price">Torta de 1 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta8.jpg" alt="">
                    <h3>Torta mariposas</h3>
                    <div class="price">Torta de 1/2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta12.jpg" alt="">
                    <h3>Torta bautizo</h3>
                    <div class="price">Torta de 1 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta13.jpg" alt="">
                    <h3>Torta unicornioc</h3>
                    <div class="price">Torta de 1 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta14.jpg" alt="">
                    <h3>Torta rugrats</h3>
                    <div class="price">Torta de 1/2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

            </div>

        </div>

        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta11.jpg" alt="">
                    <h3>Torta mariposa</h3>
                    <div class="price">Torta de 1 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta16.jpg" alt="">
                    <h3>Torta Minecraft</h3>
                    <div class="price">Torta de 1/2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta15.jpg" alt="">
                    <h3>Torta Mariposa</h3>
                    <div class="price">Torta de 1/2 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta18.jpg" alt="">
                    <h3>Torta Oso</h3>
                    <div class="price">Torta de 1/4 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/tortaC/torta20.jpg" alt="">
                    <h3>Torta Harry Potter</h3>
                    <div class="price">Torta de 1 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>
            </div>
        </div>
    </section>
    <!--Finalización productos en crema-->

    <!--Productos de cupcakes-->
    <section class="products" id="products">
        <h1 class="heading"><span>Cupcake</span></h1>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup1.jpg" alt="" style="width: 100%;">
                    <h3>Cupcakes Grado</h3>
                    <div class="price">Empaque de 6uni.</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup2.jpg" alt="" style="width: 100%;">
                    <h3>Cupcakes Venon</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup3.jpg" alt="" style="width: 100%;">
                    <h3>Cupcake Naruto</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup4.jpg" alt="" style="width: 100%;">
                    <h3>Cupcake Mexicanos</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup5.jpg" alt="" style="width: 100%;">
                    <h3>Cupcake Unicornios</h3>
                    <div class="price">Empaque de 6 unid.</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

            </div>

        </div>

        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup6.jpg" alt="" style="width: 100%;">
                    <h3>Cupcakes Sirena</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup7.jpg" alt="" style="width: 100%;">
                    <h3>Cupcake Princesas</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup8.jpg" alt="" style="width: 100%;">
                    <h3>Cupcake Atrapasueños</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup9.jpg" alt="" style="width: 100%;">
                    <h3>Cupcakes Mujer Maravilla</h3>
                    <div class="price">Torta de 1/4 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/cupcake/cup10.jpg" alt="" style="width: 100%;">
                    <h3>Cupcake Cumpleaños</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>
            </div>
        </div>
    </section>
    <!--Finalización productos cupcakes-->

    <!--Productos de galletas-->
    <section class="products" id="products">
        <h1 class="heading"><span>Galletas</span></h1>
        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga1.jpg" alt="" style="width: 100%;">
                    <h3>Granja de zenon</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga2.jpg" alt="" style="width: 100%;">
                    <h3>Barbie</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga3.jpg" alt="" style="width: 100%;">
                    <h3>Animales de la selva</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga4.jpg" alt="" style="width: 100%;">
                    <h3>Día del abuelo</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga5.jpg" alt="" style="width: 100%;">
                    <h3>Tiktok</h3>
                    <div class="price">Al por mayor.</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">Agregar al carro</a>
                </div>

            </div>

        </div>

        <div class="swiper product-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga6.jpg" alt="" style="width: 100%;">
                    <h3>Día del médico</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga7.jpg" alt="" style="width: 100%;">
                    <h3>Animales de granja</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga8.jpg" alt="" style="width: 100%;">
                    <h3>Spider-man</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga9.jpg" alt="" style="width: 100%;">
                    <h3>Aviones</h3>
                    <div class="price">Torta de 1/4 Lb</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>

                <div class="swiper-slide box">
                    <img src="../static/image/galletas/ga10.jpg" alt="" style="width: 100%;">
                    <h3>Mikie mouse</h3>
                    <div class="price">Al por mayor</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <a href="../templates/usuario/login.html" class="btn">agregar al carro</a>
                </div>
            </div>
        </div>
    </section>
    <!--Finalización productos galletas-->

    <!-- Aquí inicia el footer -->
    <section class="footer">

        <div class="box-container">

            <div class="box" id="footer">
                <h3>Contactos</h3>
                <a href="../templates/usuario/login.html" class="links"> 3185504427 <i class="fas fa-phone"></i></a>
                <a href="../templates/usuario/login.html" class="links">3178860724 <i class="fas fa-phone"></i></a>
                <a href="https://www.google.com/maps/place/Neiva,+Huila/@2.938648,-75.3003693,13z/data=!4m6!3m5!1s0x8e3b747c5a6b4009:0x69acf162bb25539a!8m2!3d2.9344837!4d-75.2809001!16zL20vMDNsejI5" class="links">Neiva - Huila <i class="fas fa-map-marker-alt"></i></a>
                <a href="https://www.facebook.com/dalbaspasteleria" class="links">Facebook <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                  </svg></a>
            </div>

            <div class="creditos">Todos los derechos reservados<span> Wolsoft</span> | SENA </div>

    </section>

    <!-- aquí finzaliza el footer-->

    
    <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->
    <script src="../library/node_modules/swiper/swiper-bundle.min.js"></script>
    <script src="../static/js/script.js"></script>
    <script src="../library/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>